terraform {
  backend "azurerm" {
    resource_group_name  = "replace-with-state-rg"
    storage_account_name = "replacewithstateaccount"
    container_name       = "tfstate"
    key                  = "three-tier-devops-azure/terraform.tfstate"
  }
}
